{% extends 'base.html' %}

{% block title %} EShopper - Favorites {% endblock %}

    {% block content %}

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Favorite products</h1>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Cart Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 justify-content-center">
            <div class="col-lg-5 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        {% for i in favorite_products %}
                        <tr>
                            <td class="align-middle">
                                <img src="{{url_for('static', filename=i.photo)}}" alt="" style="width: 50px;">
                                <a href="{{url_for('detail', id=i.id)}}">{{i.name}}</a>
                            </td>
                            {% if i.discount_price %}
                            <td class="align-middle">{{i.discount_price}} $</td>
                            {% else %}
                            <td class="align-middle">{{i.price}} $</td>
                            {% endif %}
                            <td class="align-middle">
                                <form method="post" action="{{url_for('remove_from_fav', id=i.id)}}">
                                    {{form.csrf_token}}
                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Cart End -->

    {% endblock %}
